body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(58, 42, 104);
    color: whitesmoke;
    
}

p b {
    color:rgb(226, 230, 176)

}

